.hamburger-button {
  display: none;
}

.desktop-menu {
  display: flex;
  gap: 4px;
}

.menu-container {
  background: transparent;
}

@media (max-width: 768px) {

  .hamburger-button {
    display: block;
  }

  .desktop-menu {
    display: none;
  }

}